<div id="navbar" style="display: flex; justify-content: center;">
    <div class="menu">
        <i class="fas fa-home" onclick="window.open('http://localhost:6543/mobile/feed', '_self')"></i>
    </div>

    
</div>
