<div id="navbar">
    <div class="menu"  style='margin: 0 auto; color:darkgrey; text-align:center;'>
        <i class="fas fa-home" onclick="window.open('http://localhost:6543/mobile/feed', '_self')"></i>
    </div>

    
</div>
